RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^software-development$ /software-development.php [L]
#RewriteRule ^software-development.php$ /software-development [R=301,L]
RewriteRule ^internet-of-things$ /internet-of-things.php [L]
RewriteRule ^mobile-app-development$ /mobile-app-development.php [L]
RewriteRule ^it-infrastructure$ /it-infrastructure.php [L]
RewriteRule ^software-application-maintenance$ /application-maintenance.php [L]
RewriteRule ^sap-implementation$ /sap-implementation.php [L]
RewriteRule ^e-commerce-development$ /e-commerce-development.php [L]
RewriteRule ^software-testing-services$ /software-testing-services.php [L]
RewriteRule ^artificial-intelligence$ /artificial-intelligence.php [L]
RewriteRule ^data-science-consulting$ /data-science-consulting.php [L]
RewriteRule ^robotic-process-automation$ /robotic-process-automation.php [L]
RewriteRule ^cloud-consulting$ /cloud-consulting.php [L]
RewriteRule ^retail-erp-software-solutions$ /retail-solutions.php [L]
RewriteRule ^hospitality-management-pos-softwares$ /hospitality-management.php [L]
RewriteRule ^fleet-management-softwares$ /fleet-management.php [L]
RewriteRule ^freight-warehouse-management-software$ /freight-management.php [L]
RewriteRule ^warehouse-management-software$ /warehouse-management.php [L]
RewriteRule ^dispatch-management-software$ /dispatch-management.php [L]
RewriteRule ^staff-augmentation$ /staff-augmentation.php [L]
RewriteRule ^perspective$ /perspective.php [L]
RewriteRule ^csr-initiatives$ /csr-initiatives.php [L]
RewriteRule ^diversity$ /diversity.php [L]
RewriteRule ^innovation$ /innovation.php [L]
RewriteRule ^devops$ /devops.php [L]
RewriteRule ^cloud-hosting-support$ /cloud-hosting-support.php [L]
RewriteRule ^saas-support$ /saas-support.php [L]
RewriteRule ^digital-transformation$ /digital-transformation.php [L]
RewriteRule ^data-center-support$ /data-center-support.php [L]
RewriteRule ^article-staff-augmentation$ /article-staff-augmentation.php [L]
RewriteRule ^article-data-science$ /article-data-science.php [L]
RewriteRule ^system-reengineering$ /system-reengineering.php [L]
RewriteRule ^container-freight-station-software$ /container-freight-station-software.php [L]
RewriteRule ^foreign-trade-zones-software$ /foreign-trade-zones-software.php [L]
RewriteRule ^transport-data-analysis$ /transport-data-analysis.php [L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php72” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
