html {
  scroll-behavior: smooth !important;
}
:root {
  --primary-color: rgb(183, 183, 74);
  --secondary-color: black;
  --tertiary-color: grey;

  /* image carousel vars */
  --white-c: #fff;
  --black-c: #000;
  --body-background-c: #fd7ac0;
  --wrapper-background-c: #d4f1f4;
  --wrapper-shadow-c: rgba(0, 0, 0, 0.219);
  --buttons-background-c: rgba(255, 255, 255, 0.219);
  --buttons-active-background-c: rgba(135, 207, 235, 0.493);
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-tertiary {
  background-color: var(--tertiary-color) !important;
}
.bg-1 {
  background-color: rgb(236, 236, 236) !important;
}
.bg-2 {
  background-color: slategrey !important;
}
/* Navigation (nav-header.php) */
a.navbar-brand {
  height: 70px;
  padding-top: 20px;
}
a.navbar-brand > img {
  height: 100% !important;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 10000;
}
nav.navbar {
  padding: 15px 14%;
  height: 70px;
}
nav.navbar .nav-brand {
  float: left;
}
nav.navbar .collapse {
  justify-content: flex-end;
}
nav.navbar ul.navbar-nav {
  text-align: center;
  padding: 10px;
  transition: ease 0.3s;
}
nav.navbar li.nav-item {
  transition: ease 1s all;
}
nav.navbar ul.navbar-nav a.nav-link {
  width: min(200px, 100%);
  border-radius: 7px;
  font-weight: bold;
}
@media screen and (min-width: 1000px) {
  /* Larger screens */
  nav.navbar ul.navbar-nav {
    transform: translateX(-9%);
  }
  nav.navbar ul.navbar-nav :hover a.nav-link {
    color: var(--primary-color) !important;
    /* background-color: rgb(233, 233, 233) !important; */
    transition: ease 0.3s;
  }
}
@media screen and (max-width: 1000px) {
  /* Smaller screens */
  /* nav.navbar > ul.navbar-nav :nth-child(even) {
    background-color: whitesmoke !important;
  } */
  nav.navbar ul.navbar-nav {
     background-color: white !important;
  }
  a.nav-link {
    width: 100% !important;
  }
  .dropdown,
  li.nav-item {
    height: 50px;
  }
  .dropdown-menu {
    display: none;
    height: 0 !important;
    text-align: center !important;
    transform: translateY(-10px) !important;
  }
  .dropdown-menu.show {
    height: 125px !important;
    transition: ease 0.3s all;
    transform: translateY(-20px) !important;
  }
  .dropdown-menu.show a.nav-link {
    transition: ease 0.3s all;
  }
}
.dropdown-menu {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px) !important;
  transition: 0.2s ease all !important;
}
.dropdown-menu.show {
  height: auto;
  display: block !important;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px) !important;
  transition: 0.2s ease all !important;
}
a.dropdown-item:active {
  color: white !important;
  background-color: var(--primary-color) !important;
}
/* Home slide */
.container.slide {
    background: url("../images/home");
}
/* Image carousel */
.carousel-indicators {
    height: 5px !important;
}
.carousel-indicators > li {
    width: 20px;
    background-color: rgba(0, 0, 0, 0.18);
    margin: 0 10px;
    border-radius: 100px;
}
.carousel-indicators > li.active {
    background-color: rgba(0, 0, 0, 0.6);
}
.carousel-icons {
    padding-top: 12px;
    border-radius: 70px;
    height: 55px !important;
    width: 45px !important;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}